/* OVERALL ========================================================= */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  /* background: linear-gradient(#2b1055, #7591aa); */
  overflow-x: hidden;
  background-color: #1c0522
}




/* SCROLLBAR========================================================= */
::-webkit-scrollbar{
  width: 10px;

}

::-webkit-scrollbar-track {
  width:10px;;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

::-webkit-scrollbar-track {
  background: linear-gradient(to top, #B20600, #FF5F00)
}

::-webkit-scrollbar-thumb {
  background: rgba(84,0,168,1);
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(26,3,78,1);

}


/* NavBar Section=========================================================== */
.navbar{
  background: rgb(26,3,78);
  background: linear-gradient(90deg, rgba(26,3,78,1) 0%, rgba(84,0,168,1) 100%);
}

.fa-bars{
  background: red;
}

/* PARALLAX SECTION ============================================= */
#parallax{
  position: relative;
  max-width: 100%;
  height: 100vh;


  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#parallax::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522,transparent);
  z-index: 1000;}

#parallax img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none;
}


@media (max-width:900px) {
  #parallax {
    height: 50vh;}

  .col{
    }
}

/* First Section ==================================================== */
#about-me{
  position: relative;
  padding: 100px;
  background: #1c0522;
}


#about-me h2{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: white;
  text-align: center;}

.colAbout h3{
  text-align: center;
  margin-bottom: 40px;
}

#about-mec p{
  font-size: 1.2em;
  color: white;

}

#dimi, #learn{

    max-width: 40%;
    margin: auto;
    display: block;


  }

#computer{
    max-width: 35%;
    margin: auto;
    display: block;

  }


.colAbout{
  margin-bottom: 100px;
  padding: 40px;
  /* background: rgb(26,3,78); */
  background: linear-gradient(90deg, rgba(26,3,78,1) 0%, rgba(84,0,168,1) 100%);
  border-radius: 80px;
  color: white;
}

.mid-col{
  background: rgb(84,0,168);
  background: linear-gradient(90deg, rgba(84,0,168,1) 0%, rgba(26,3,78,1) 100%);
}

@media (max-width:800px)  {
  #about-me{
    position: relative;
    padding: 50px;
  }

  #about-me h2 {
    font-size: 3.5em;
  }

  #about-me p{
    font-size: 1.2em;
    margin-top: 30px;
    text-align: center;

  }

}

@media (min-width: 810px){
  #dimi, #learn{
    float: left;
    margin-right: 30px;
    max-width: 15%;

  }

  #computer{
    float: right;
    margin-left: 30px;
  }

  .p-text-1, .p-text-3{
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
  }

  .p-text-2{
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
  }
}


/* Second Section Experience ========================================== */
.colExp{
  margin-bottom: 100px;
  padding: 5px;
  background: rgb(26,3,78);
  /* background: linear-gradient(90deg, rgba(26,3,78,1) 0%, rgba(84,0,168,1) 100%); */
  border-radius: 30px;
  color: white;
  text-align: center;
  background: linear-gradient(to top, #B20600, #FF5F00);




}

#about-me p {
  font-size: 1.5rem
}


#educationimg{
  border-top-right-radius: 90px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
}



#experience{
  padding: 100px;
}

#languages{
  border-top-right-radius: 0px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 0px;
}

#education{
  border-top-right-radius: 90px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
  font-size: 1.2rem
}

.expimg{
  margin-top:20px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;

}

.col-sm-6{
  flex: auto;
}

#experience h2{
  margin-bottom:30px;
}



@media (max-width:780px){
  #education, #languages{
    border-radius: 30px;

  }


  .colExp{
    margin-bottom: 50px;
    color: red;
  }

  .h4-ed{
    font-size: 0.8rem;
  }

}




/* CARDS======================================== */

.maincontainer{
  position: relative;

  height: 390px;
}

.maincontainer h2{
  color: white;
  margin-top: 20px;
}

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background: yellow;
  border-radius: 30px;



}

/* .thecard:hover{
  transform: rotateY(180deg);
} */

.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgb(26,3,78);
  background: linear-gradient(90deg, rgba(26,3,78,1) 0%, rgba(84,0,168,1) 100%);
  color: black;
  text-align: center;
  border-radius: 30px;


}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #ff4e00;
  background-image: linear-gradient(to top, #ff4e00 0%, #ec9f05 74%);

  color: white;
  transform: rotateY(180deg);
  border-radius: 30px;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  padding-top: 30px;
  word-wrap: break-word;



}

.theback h4,h5{
  margin-bottom: 30px;
}

.theback a{
  color: white;
  text-decoration:  overline;
  font-size: 1.4rem;
}

a:hover{
  color: black;
  text-decoration: underline;
}

@media (max-width:780px){
  .theback h5{
      font-size: 0.9rem;
      margin-bottom: 40px;
  }

  .theback a{
    font-size: 1rem;
  }

  .colExp{
    padding: 2px;
  }
}

/* Footer section============================================== */

#footer{
  background: rgb(26,3,78);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


.footer-box{
  text-align: center;
  padding-top: 20px;


}


.emoji{
  color: #ff4e00;

}

.footer-link{
  font-size: 1.5em;
  text-decoration: none;
  color: white
}

.footer-link:hover{
  color: #ff4e00;
  text-decoration: none
}


.footer-nav{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#footer li{
  margin-right: 20px;
}


.test{
  transform: rotateY(180deg);
}
