* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  /* background: linear-gradient(#2b1055, #7591aa); */
  overflow-x: hidden;
  background-color: #1c0522
}


/* NavBar Section=========================================================== */
.test{
  background: rgb(26,3,78);
background: linear-gradient(90deg, rgba(26,3,78,1) 0%, rgba(84,0,168,1) 100%);
}


/* PARALLAX SECTION ============================================= */
section{
  position: relative;
  max-width: 100%;
  height: 100vh;


  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522,transparent);
  z-index: 1000;

}


section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none;
}





@media (max-width:900px) {
  section {
    height: 50vh;
  }

  .col{
    background-color: red;
  }
}




/* First Section ==================================================== */
.sec{
  position: relative;
  padding: 100px;
  background: #1c0522;

}


.sec h2{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.sec p{
  font-size: 1.2em;
  color: white;
}




#dimi, #learn{

  max-width: 40%;
  margin: auto;
  display: block;
}


#computer{
  max-width: 35%;
  margin: auto;
  display: block;

}

.col{
  margin-bottom: 100px;
  padding: 40px;
  /* background: rgb(26,3,78); */
  background: linear-gradient(90deg, rgba(26,3,78,1) 0%, rgba(84,0,168,1) 100%);
  border-radius: 80px;
}

.mid-col{
  background: rgb(84,0,168);
background: linear-gradient(90deg, rgba(84,0,168,1) 0%, rgba(26,3,78,1) 100%);
}






@media (max-width:800px)  {
  .sec{
    position: relative;
    padding: 50px;
  }

  .sec h2 {
    font-size: 2.5em;

  }

  .sec p{
    font-size: 1.2em;
    margin-top: 30px;
    text-align: center;
  }

}



@media (min-width: 810px){
  #dimi, #learn{
    float: left;
    margin-right: 30px;
    max-width: 15%;

  }

  #computer{
    float: right;
    margin-left: 30px;
  }

  .p-text-1, .p-text-3{
    text-align: left;
vertical-align: middle;
line-height: 70px;
  }

  .p-text-2{
    text-align: right;
    vertical-align: middle;
    line-height: 50px;
  }
}
